#main {
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: 24px;
}
#main .button {
    color: unset;
}
button{
    background:black;
}
#doc-nav {
    display: flex;
}
#doc-nav.normal{
    justify-content: space-around;
}
div.hameed{
    text-align: center;
    color:white;
    padding: 24px;
}
.doc-button {
    flex-grow: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background:white;
    color:black;
}
#doc-nav.normal .doc-button {
    flex-grow: unset;
    border-radius: 5px;
}
#oc.selected {
    background: #FF4800!important;
}
#content.selected {
    background: #B400FF!important;
}
#design.selected {
    background: #0030FF!important;
}
.doc-button:focus {
    box-shadow: 0 0 transparent!important;
}