#main {
    background: rgba(0, 0, 0, 0.3);
}
button{
    background:black;
}
#doc-nav {
    display: flex;
}
#doc-nav.normal{
    flex-direction: column;
}
div.hameed{
    color:white;
}
.doc-button {
    flex-grow: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background:white!important;
    color:black;

}
.doc-button.selected {
    background: red!important;
    color: white;
    font-weight: 700;
}
.doc-button:active {
    border: 0;
}